@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
}

#root {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    /* overflow: hidden; */
}

.dark {
    @apply bg-gray-800 text-red-600
}

label {
    font-size: 1rem;
}

.grid1 {
    columns: 4;
    column-gap: 0;
}

.break {
    break-before: column;
}

.wrapper p {
    margin: 10px 0 10px 0;
}

.wrapper h2 {
    font-size: 26px;
    font-weight: bold;
}
.wrapper h3 {
    font-size: 24px;
    font-weight: bold;
}
iframe {
    width: 100%;
}
